<!-- <div class="col">
  <div class="card">
    <img src={{rule.icon}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{rule.name}}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div> -->


    <!-- <div class="col-md-4">
      <img src={{rule.icon}} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{rule.name}}</h5>
        <p class="card-text">{{rule.description}}</p>
      </div>
    </div> -->

    <div class="card mb-3 text-center" >
      <div class="row g-0 d-flex flex-wrap align-items-center">
        <div class="col-3">
          <img src={{rule.icon}} class="img-responsive rounded-start rule-img" alt="...">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h6 class="card-title rule-title">{{rule.name}}</h6>
            <p class="card-text rule-text">{{rule.description}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card bg-dark text-white">
      <img src={{rule.icon}} class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div> -->

