/* You can add global styles to this file, and also import other style files */
html, body {

    background-color: orange;
    min-width: 100vw; overflow-x: hidden;
    min-height: 100vh;

}

.navbar {
  max-height: 10vh;

}

.navbar-brand i {

  font-size: 0.8em;
}

.content-div {

  max-height: 80vh;
  min-height: 80vh;
}

/* .row  {

    border: 5px solid pink;
} */


.btn-div {

    max-height: 10vh;
    min-height: 10vh;
}

.bmb-btn {

    width: 15em;
}

.card-img-top  {
  width: 100%;
  max-height: 50vh;
  min-height: 50vh;
  object-fit: contain;
}

.card-body {

  width: 100%;
  max-height: 20vh;
  min-height: 20vh;
  overflow-y: auto;

}

.card {
  border-radius: 1em;

}

.card-text {

  font-size: 1.2em;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
